/* body {
  background: #e7eef8;
}

.input_container div {
  padding: 10px;
}
.main_container {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(247, 211, 171), #f3b96c, #fa8354);
  box-shadow: 3px 2px 10px black;
}

.input_container {
  text-align: center;
  margin-top: 50px;
}
.chart_style {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-top: 50px;
}
h2 {
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
} */
